<shopify-user-profile-settings-tabs></shopify-user-profile-settings-tabs>
<div class='bg-white overflow-hidden mt-5'>
  <div [ngSwitch]='currentSelectedTab'>
    <shopify-user-profile-settings-general *ngSwitchCase="'general'"
                                          [@enterTrigger]="'fadeIn'">
    </shopify-user-profile-settings-general>
    <shopify-user-profile-settings-password *ngSwitchCase="'password'"
                                            [@enterTrigger]="'fadeIn'">
    </shopify-user-profile-settings-password>
    <shopify-user-profile-settings-notifications *ngSwitchCase="'notifications'"
                                                [@enterTrigger]="'fadeIn'">
    </shopify-user-profile-settings-notifications>
    <shopify-user-profile-settings-billing *ngSwitchCase="'billing'"
                                          [@enterTrigger]="'fadeIn'">
    </shopify-user-profile-settings-billing>
  </div>
</div>
