<div class="w-full flex flex-col gap-20 mt-10 mb-10">
  <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div
      class="pricing-box max-w-lg mx-auto rounded-lg shadow-lg overflow-hidden lg:max-w-none lg:flex"
    >
      <div class="bg-white dark:bg-gray-800 px-6 py-8 lg:flex-shrink-1 lg:p-12">
        <h3
          class="text-2xl leading-8 font-extrabold text-gray-900 sm:text-3xl sm:leading-9 dark:text-white"
        >
          Zero Commission
        </h3>
        <p class="mt-6 text-base leading-6 text-gray-500 dark:text-gray-200">
          Start selling online for free with all the features you need to launch your local delivery
          and pick-up service, nothing more. We don&#x27;t charge commission or monthly fees, keep
          all your margin.
        </p>
        <div class="mt-8">
          <div class="flex items-center">
            <h4
              class="flex-shrink-0 pr-4 bg-white dark:bg-gray-800 text-sm leading-5 tracking-wider font-semibold uppercase text-green-600"
            >
              What&#x27;s included
            </h4>
            <div class="flex-1 border-t-2 border-gray-200"></div>
          </div>
          <ul class="mt-8 lg:grid lg:grid-cols-2 lg:col-gap-8 lg:row-gap-5">
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                All illimited components
              </p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                Own custom Tailwind styles
              </p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                Unlimited Templates
              </p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                Free premium dashboard
              </p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">Best ranking</p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">Prenium svg</p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">My wife</p>
            </li>
          </ul>
        </div>
        <div class="mt-8">
          <div class="flex items-center">
            <h4
              class="flex-shrink-0 pr-4 bg-white text-sm dark:bg-gray-800 leading-5 tracking-wider font-semibold uppercase text-green-600"
            >
              &amp; What&#x27;s not
            </h4>
          </div>
          <ul class="mt-8 lg:grid lg:grid-cols-2 lg:col-gap-8 lg:row-gap-5">
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  class="h-6 w-6 mr-2"
                  fill="red"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1277 1122q0-26-19-45l-181-181 181-181q19-19 19-45 0-27-19-46l-90-90q-19-19-46-19-26 0-45 19l-181 181-181-181q-19-19-45-19-27 0-46 19l-90 90q-19 19-19 46 0 26 19 45l181 181-181 181q-19 19-19 45 0 27 19 46l90 90q19 19 46 19 26 0 45-19l181-181 181 181q19 19 45 19 27 0 46-19l90-90q19-19 19-46zm387-226q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                No Contracts. No monthly, setup, or additional payment processor fees
              </p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  class="h-6 w-6 mr-2"
                  fill="red"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1277 1122q0-26-19-45l-181-181 181-181q19-19 19-45 0-27-19-46l-90-90q-19-19-46-19-26 0-45 19l-181 181-181-181q-19-19-45-19-27 0-46 19l-90 90q-19 19-19 46 0 26 19 45l181 181-181 181q-19 19-19 45 0 27 19 46l90 90q19 19 46 19 26 0 45-19l181-181 181 181q19 19 45 19 27 0 46-19l90-90q19-19 19-46zm387-226q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                No 2-week on-boarding, it takes 20 minutes!
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="py-8 px-6 text-center bg-gray-50 dark:bg-gray-700 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-12"
      >
        <p class="text-lg leading-6 font-bold text-gray-900 dark:text-white">Free</p>
        <div
          class="mt-4 flex items-center justify-center text-5xl leading-none font-extrabold text-gray-900 dark:text-white"
        >
          <span> $0/mo </span>
        </div>
        <p class="mt-4 text-sm leading-5">
          <span class="block font-medium text-gray-500 dark:text-gray-400"> Card payments: </span>
          <span class="inline-block font-medium text-gray-500 dark:text-gray-400">
            2.9% + 20p per transaction
          </span>
        </p>
        <div class="mt-6">
          <div class="rounded-md shadow">
            <button
              type="button"
              class="py-2 px-4 bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
            >
              Create your store
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div
      class="pricing-box max-w-lg mx-auto rounded-lg shadow-lg overflow-hidden lg:max-w-none lg:flex"
    >
      <div class="bg-white dark:bg-gray-800 px-6 py-8 lg:flex-shrink-1 lg:p-12">
        <h3
          class="text-2xl leading-8 font-extrabold text-gray-900 sm:text-3xl sm:leading-9 dark:text-white"
        >
          Zero Commission
        </h3>
        <p class="mt-6 text-base leading-6 text-gray-500 dark:text-gray-200">
          Start selling online for free with all the features you need to launch your local delivery
          and pick-up service, nothing more. We don&#x27;t charge commission or monthly fees, keep
          all your margin.
        </p>
        <div class="mt-8">
          <div class="flex items-center">
            <h4
              class="flex-shrink-0 pr-4 bg-white dark:bg-gray-800 text-sm leading-5 tracking-wider font-semibold uppercase text-green-600"
            >
              What&#x27;s included
            </h4>
            <div class="flex-1 border-t-2 border-gray-200"></div>
          </div>
          <ul class="mt-8 lg:grid lg:grid-cols-2 lg:col-gap-8 lg:row-gap-5">
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                All illimited components
              </p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                Own custom Tailwind styles
              </p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                Unlimited Templates
              </p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                Free premium dashboard
              </p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">Best ranking</p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">Prenium svg</p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">My wife</p>
            </li>
          </ul>
        </div>
        <div class="mt-8">
          <div class="flex items-center">
            <h4
              class="flex-shrink-0 pr-4 bg-white text-sm dark:bg-gray-800 leading-5 tracking-wider font-semibold uppercase text-green-600"
            >
              &amp; What&#x27;s not
            </h4>
          </div>
          <ul class="mt-8 lg:grid lg:grid-cols-2 lg:col-gap-8 lg:row-gap-5">
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  class="h-6 w-6 mr-2"
                  fill="red"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1277 1122q0-26-19-45l-181-181 181-181q19-19 19-45 0-27-19-46l-90-90q-19-19-46-19-26 0-45 19l-181 181-181-181q-19-19-45-19-27 0-46 19l-90 90q-19 19-19 46 0 26 19 45l181 181-181 181q-19 19-19 45 0 27 19 46l90 90q19 19 46 19 26 0 45-19l181-181 181 181q19 19 45 19 27 0 46-19l90-90q19-19 19-46zm387-226q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                No Contracts. No monthly, setup, or additional payment processor fees
              </p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  class="h-6 w-6 mr-2"
                  fill="red"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1277 1122q0-26-19-45l-181-181 181-181q19-19 19-45 0-27-19-46l-90-90q-19-19-46-19-26 0-45 19l-181 181-181-181q-19-19-45-19-27 0-46 19l-90 90q-19 19-19 46 0 26 19 45l181 181-181 181q-19 19-19 45 0 27 19 46l90 90q19 19 46 19 26 0 45-19l181-181 181 181q19 19 45 19 27 0 46-19l90-90q19-19 19-46zm387-226q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                No 2-week on-boarding, it takes 20 minutes!
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="py-8 px-6 text-center bg-gray-50 dark:bg-gray-700 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-12"
      >
        <p class="text-lg leading-6 font-bold text-gray-900 dark:text-white">Premium</p>
        <div
          class="mt-4 flex items-center justify-center text-5xl leading-none font-extrabold text-gray-900 dark:text-white"
        >
          <span> $29/mo </span>
        </div>
        <p class="mt-4 text-sm leading-5">
          <span class="block font-medium text-gray-500 dark:text-gray-400"> Card payments: </span>
          <span class="inline-block font-medium text-gray-500 dark:text-gray-400">
            2.9% + 20p per transaction
          </span>
        </p>
        <div class="mt-6">
          <div class="rounded-md shadow">
            <button
              type="button"
              class="py-2 px-4 bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
            >
              Create your store
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
