<div class="mt-5 divide-y divide-gray-200">
  <div class="space-y-1">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Profile
    </h3>
    <p class="max-w-2xl text-sm text-gray-500">
      This information will be displayed publicly so be careful what you share.
    </p>
  </div>
  <div class="mt-6">
    <dl class="divide-y divide-gray-200">
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
        <dt class="text-sm font-medium text-gray-500">
          Name
        </dt>
        <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <span class="flex-grow">Chelsea Hagon</span>
          <span class="ml-4 flex-shrink-0">
                          <button type="button" class="bg-white rounded-md font-medium text-green-600 hover:text-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                            Update
                          </button>
                        </span>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:pt-5">
        <dt class="text-sm font-medium text-gray-500">
          Photo
        </dt>
        <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <span class="flex-grow">
                          <span class="inline-block h-8 w-8 rounded-full overflow-hidden bg-gray-100">
                            <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                              <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                            </svg>
                          </span>
                        </span>
          <span class="ml-4 flex-shrink-0 flex items-start space-x-4">
                          <button type="button" class="bg-white rounded-md font-medium text-green-600 hover:text-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                            Update
                          </button>
                          <span class="text-gray-300" aria-hidden="true">|</span>
                          <button type="button" class="bg-white rounded-md font-medium text-green-600 hover:text-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                            Remove
                          </button>
                        </span>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-b sm:border-gray-200">
        <dt class="text-sm font-medium text-gray-500">
          Email
        </dt>
        <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <span class="flex-grow">chelsea.hagon@example.com</span>
          <span class="ml-4 flex-shrink-0">
                          <button type="button" class="bg-white rounded-md font-medium text-green-600 hover:text-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                            Update
                          </button>
                        </span>
        </dd>
      </div>
    </dl>
  </div>
</div>
