<div class='flex justify-center ml-5'>
  <button
    (click)='decrement()'
    class='flex items-center justify-center h-full w-12 rounded text-gray-600 hover:text-gray-600'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      class='h-6 w-6'
      fill='none'
      viewBox='0 0 24 24'
      stroke='currentColor'
    >
      <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M18 12H6' />
    </svg>
  </button>
  <input
    class='flex items-center text-center justify-center h-full w-12 rounded bg-gray-100 text-lg font-medium text-gray-600'
    [value]='counter'
    min='1'
    step='1'
    disabled
  />
  <button
    (click)='increment()'
    class='flex items-center justify-center h-full w-12 rounded text-gray-600 hover:text-gray-600'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      class='h-6 w-6'
      fill='none'
      viewBox='0 0 24 24'
      stroke='currentColor'
    >
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='2'
        d='M12 6v6m0 0v6m0-6h6m-6 0H6'
      />
    </svg>
  </button>
</div>
