<div class='px-8 py-4 mt-10 w-full bg-white rounded-lg shadow-md dark:bg-gray-800'>
  <div class='mt-2 mb-5 lg:mt-0 lg:flex-1'>
    <div class='flex row gap-10'>
      <div>
        <p class='text-base'>Order number</p>
        <p class='text-sm text-gray-400'>WU414343</p>
      </div>
      <div>
        <p class='text-base'>Date placed</p>
        <p class='text-sm text-gray-400'>Jul 6, 2020</p>
      </div>
      <div>
        <p class='text-base'>Total amount</p>
        <p class='text-sm text-gray-400'>$160.00</p>
      </div>
    </div>
  </div>
</div>
