<div>
  <a
    [routerLink]="['/products/', product.category.formatName, product.id]"
    class='block h-64 rounded-lg shadow-lg bg-white'
  >
    <div *ngIf='isLoading' class='w-full h-full flex items-center justify-center'>
      <mat-spinner></mat-spinner>
    </div>
    <img (load)='onLoadImageEventHandler()'
         (error)='onErrorEventHandler()'
         [src]='product.image'
         [class.hidden]='isError'
         alt='Product image'
         class='h-inherit mx-auto'
         loading='lazy'
    >
  </a>
  <div class='flex items-center justify-between mt-3'>
    <div>
      <a href='#' class='font-medium'>{{ product.name | truncate: 12 }}</a>
      <a class='flex items-center' href='#'>
        <span class='text-xs font-medium text-gray-600'>by</span>
        <span class='text-xs font-medium ml-1 text-green-500'>{{ product.producer }}</span>
      </a>
    </div>
    <span class='flex items-center h-8 bg-green-200 text-green-600 text-sm px-2 rounded'>
      {{ product.defaultPrice | currency }}
    </span>
  </div>
</div>
