<tr>
  <td class="px-6 py-4 w-10 whitespace-nowrap text-sm text-gray-500">
    {{ product.id }}
  </td>
  <td class="px-6 py-4 whitespace-nowrap flex align-middle">
    <div class="flex justify-start align-middle">
      <div class="flex align-middle text-sm font-medium text-gray-900">
        {{ product.name }}
      </div>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <shopify-status-widget-success *ngIf="isSuccess()" [message]="product.amount.toString()"></shopify-status-widget-success>
    <shopify-status-widget-warning *ngIf="isWarning()" [message]="product.amount.toString()"></shopify-status-widget-warning>
    <shopify-status-widget-danger *ngIf="isDanger()" [message]="product.amount.toString()"></shopify-status-widget-danger>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    {{ product.price }} $
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <a href="#" class="text-indigo-600 hover:text-indigo-900 text-right">Details</a>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium flex justify-start">
    <a href="#" class="text-indigo-600 hover:text-indigo-900 text-right">Edit</a>
  </td>
</tr>
