<h1 class='text-4xl text-gray-700 mt-5 mb-5'>Dashboard</h1>
<div class='mt-4'>
  <div>
    <h3 class='text-lg leading-6 font-medium text-gray-900'>
      Last 30 days
    </h3>

    <dl class='mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3'>
      <shopify-user-count-widget></shopify-user-count-widget>
      <shopify-order-widget></shopify-order-widget>
      <shopify-product-available-widget></shopify-product-available-widget>
      <shopify-category-count-widget></shopify-category-count-widget>
    </dl>
    <shopify-product-most-popular></shopify-product-most-popular>
  </div>
</div>
