<h1 class="text-4xl text-gray-700 mt-5 mb-5">Dashboard</h1>
<div class="mt-4">
  <div class='flex gap-5 flex-wrap'>
    <shopify-user-count-widget></shopify-user-count-widget>

    <a routerLink='/admin/orders-manage' class='w-full sm:w-2/5 xl:w-1/3 sm:mt-0 hover:shadow-md transition'>
      <div class='flex items-center px-5 py-6 shadow-sm rounded-md bg-white'>
        <div class='p-3 bg-gray-100 rounded-full'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-6 w-6'
            fill='none'
            viewBox='0 0 24 24'
            stroke='grey'
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
            />
          </svg>
        </div>

        <div class="mx-5">
          <h4 class="text-2xl font-semibold text-gray-700">0</h4>
          <div class="text-gray-500">Total Orders</div>
        </div>
      </div>
    </a>

    <shopify-product-available-widget></shopify-product-available-widget>
    <shopify-category-count-widget></shopify-category-count-widget>
  </div>
</div>
