<div class='bg-white shadow overflow-hidden sm:rounded-lg'>
  <form [formGroup]='form' (ngSubmit)='onSubmit()'>
    <div class='px-4 py-5 sm:px-6'>
      <h3 class='text-lg leading-6 font-medium text-gray-900'>General</h3>
      <p class='mt-1 max-w-2xl text-sm text-gray-500'>Simple information's about product.</p>
    </div>
    <div formGroupName='general' class='border-t border-gray-200'>
      <dl>
        <div class='bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
          <dt class='text-sm font-medium text-gray-500'>
            Name <span class='text-red-700'>*</span>
          </dt>
          <dd class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
            <input
              formControlName='name'
              placeholder='Solar panel'
              type='text'
              class='bg-transparent rounded border-gray-300 border-2 w-full'
              required
            />
          </dd>
        </div>
        <div class='bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
          <dt class='text-sm font-medium text-gray-500'>
            Regular price (PLN) <span class='text-red-700'>*</span>
          </dt>
          <dd class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
            <input
              formControlName='regularPrice'
              placeholder='10.99'
              type='number'
              class='bg-transparent rounded border-gray-300 border-2 w-full'
              required
            />
          </dd>
        </div>
        <div class='bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
          <dt class='text-sm font-medium text-gray-500'>Sale price (PLN)</dt>
          <dd class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
            <input
              formControlName='salePrice'
              placeholder='8.99'
              type='number'
              class='bg-transparent rounded border-gray-300 border-2 w-full'
            />
          </dd>
        </div>
        <div class='bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
          <dt class='text-sm font-medium text-gray-500'>
            Description <span class='text-red-700'>*</span>
          </dt>
          <dd class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
            <textarea formControlName='description' class='w-auto' rows='10' required></textarea>
          </dd>
        </div>
      </dl>
    </div>

    <div class='px-4 py-5 sm:px-6'>
      <h3 class='text-lg leading-6 font-medium text-gray-900'>Inventory</h3>
      <p class='mt-1 max-w-2xl text-sm text-gray-500'>
        Information's about product inventory state
      </p>
    </div>
    <div formGroupName='inventory' class='border-t border-gray-200'>
      <dl>
        <div class='bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
          <dt class='text-sm font-medium text-gray-500'>
            Stock quantity <span class='text-red-700'>*</span>
          </dt>
          <dd class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
            <input
              formControlName='stockQuantity'
              type='number'
              class='bg-transparent rounded border-gray-300 border-2 w-full'
              required
            >
          </dd>
        </div>
        <div class='bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
          <dt class='text-sm font-medium text-gray-500'>Allow backorders?</dt>
          <dd class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
            <input
              formControlName='allowBackorders'
              value='white'
              type='checkbox'
              class='h-4 w-4 border-gray-300 rounded text-green-600 focus:ring-green-500'
            >
          </dd>
        </div>
      </dl>
    </div>

    <div class='px-4 py-5 sm:px-6'>
      <h3 class='text-lg leading-6 font-medium text-gray-900'>Shipping</h3>
      <p class='mt-1 max-w-2xl text-sm text-gray-500'>Information's about shipping</p>
    </div>
    <div formGroupName='shipping' class='border-t border-gray-200'>
      <dl>
        <div class='bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
          <dt class='text-sm font-medium text-gray-500'>Weight (kg)</dt>
          <dd class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
            <input
              formControlName='weight'
              placeholder='3.5'
              type='number'
              class='bg-transparent rounded border-gray-300 border-2 w-full'
            />
          </dd>
        </div>
        <div class='bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
          <dt class='text-sm font-medium text-gray-500'>Shipping methods</dt>
          <dd class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
            <div>
              <h3 class='-mx-2 -my-3 flow-root'>
                <button
                  type='button'
                  class='px-2 py-3 bg-white w-full flex items-center justify-between text-gray-400 hover:text-gray-500'
                  aria-controls='filter-section-mobile-0'
                  aria-expanded='false'
                >
                  <span class='font-medium text-gray-700'> Methods </span>
                  <span class='ml-6 flex items-center'>
                    <svg
                      *ngIf='!moreShippingMethodsOptionsIsShow'
                      (click)='toggleShippingMethodsOptions()'
                      xmlns='http://www.w3.org/2000/svg'
                      class='h-6 w-6'
                      fill='none'
                      viewBox='0 0 24 24'
                      stroke='currentColor'
                    >
                      <path
                        stroke-linecap='round'
                        stroke-linejoin='round'
                        stroke-width='2'
                        d='M19 9l-7 7-7-7'
                      />
                    </svg>
                    <svg
                      *ngIf='moreShippingMethodsOptionsIsShow'
                      (click)='toggleShippingMethodsOptions()'
                      xmlns='http://www.w3.org/2000/svg'
                      class='h-6 w-6'
                      fill='none'
                      viewBox='0 0 24 24'
                      stroke='currentColor'
                    >
                      <path
                        stroke-linecap='round'
                        stroke-linejoin='round'
                        stroke-width='2'
                        d='M5 15l7-7 7 7'
                      />
                    </svg>
                  </span>
                </button>
              </h3>
              <div
                *ngIf='moreShippingMethodsOptionsIsShow'
                class='pt-6'
                id='filter-section-mobile-0'
              >
                <div class='space-y-6'>
                  <div *ngFor='let shippingMethod of shippingMethods; let index = index' class='flex items-center'>
                    <input
                      [value]='shippingMethod.value'
                      (change)='onCheckboxChange($event)'
                      type='checkbox'
                      class='h-4 w-4 border-gray-300 rounded text-green-600 focus:ring-green-500'
                    >
                    <label class='ml-3 min-w-0 flex-1 text-gray-500'>
                      {{ shippingMethod.name }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </dd>
        </div>
      </dl>
    </div>

    <div class='px-4 py-5 sm:px-6'>
      <h3 class='text-lg leading-6 font-medium text-gray-900'>Variations</h3>
      <p class='mt-1 max-w-2xl text-sm text-gray-500'>Variations of product</p>
    </div>
    <div formGroupName='variations' class='border-t border-gray-200'>
      <dl>
        <div class='bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
          <dt class='text-sm font-medium text-gray-500'>
            Category <span class='text-red-700'>*</span>
          </dt>
          <dd class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
            <select
              formControlName='category'
              name='category'
              class='bg-transparent rounded border-gray-300 border-2 w-full'
              required
            >
              <option value='' selected disabled hidden class='text-gray-300'>Choose here</option>
              <option *ngFor='let category of categories' [value]='category'>
                {{ category | firstLetterTitleCase }}
              </option>
            </select>
          </dd>
        </div>
      </dl>
    </div>

    <div class='px-4 py-5 sm:px-6'>
      <h3 class='text-lg leading-6 font-medium text-gray-900'>Specification</h3>
      <p class='mt-1 max-w-2xl text-sm text-gray-500'>Product's specification</p>
    </div>
    <div formArrayName='specification' class='border-t border-gray-200'>
      <dl>
        <div class='bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
          <dt class='text-sm font-medium text-gray-500'>
            Properties <span class='text-red-700'>*</span>
          </dt>
          <dd
            class='flex flex-column mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 properties-wrapper'
          >
            <div
              *ngFor='let specification of getSpecification().controls; let index = index'
              [formGroupName]='index'
              class='flex flex-row justify-between sm:col-span-2 w-full'
            >
              <input
                formControlName='key'
                placeholder='Property name'
                type='text'
                class='bg-transparent rounded border-gray-300 border-2 properties-input-width'
                required
              >
              <input
                formControlName='value'
                placeholder='Property value'
                type='text'
                class='bg-transparent rounded border-gray-300 border-2 properties-input-width property-value-input'
                required
              >
              <div (click)='removeSpecification(index)' class='flex items-center hover:pointer'>
                <svg xmlns='http://www.w3.org/2000/svg' class='h-8 w-8' fill='none' viewBox='0 0 24 24'
                     stroke='rgb(239 68 68)'>
                  <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12' />
                </svg>
              </div>
              <br>
            </div>
            <button
              (click)='addSpecification()'
              type='button'
              class='inline-flex items-center justify-center space-x-2 py-3 px-4 border border-transparent text-sm font-medium rounded text-green-600 hover:text-green-700 bg-green-50 hover:bg-green-100 transition-colors'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='h-5 w-5'
                viewBox='0 0 20 20'
                fill='currentColor'
              >
                <path
                  fill-rule='evenodd'
                  d='M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z'
                  clip-rule='evenodd'
                />
              </svg>
              <div>Add property</div>
            </button>
          </dd>
        </div>
      </dl>
    </div>

    <div
      class='flex flex-row order-3 px-4 py-5 mr-auto flex-shrink-0 w-full sm:order-2 sm:mt-0 sm:w-auto sm:px-6'
    >
      <button
        class='flex flex-col items-center justify-center w-36 mt-5 px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-600 w-full sm:w-36 sm:flex-row hover:bg-green-700 transition delay-200'
        type='submit'
      >
        Add
      </button>
      <button
        class='flex items-center justify-center ml-5 w-36 mt-5 px-4 py-2 border border-transparent rounded-md shadow-sm text-sm text-green-700 bg-green-100 hover:bg-green-200 w-full sm:w-36 transition delay-200'
      >
        Reset
      </button>
    </div>
  </form>
</div>
