<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        General
      </h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        Simple information's about product.
      </p>
    </div>
    <div formGroupName="general" class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Name
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <input formControlName="name" placeholder="T-shirt" type="text" class="bg-transparent rounded border-gray-300 border-2 w-full">
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Regular price (PLN)
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <input formControlName="regularPrice" type="number" class="bg-transparent rounded border-gray-300 border-2 w-full">
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Sale price (PLN)
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <input formControlName="salePrice" type="number" class="bg-transparent rounded border-gray-300 border-2 w-full">
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Description
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <textarea formControlName="description" class="w-auto" rows="10"></textarea>
          </dd>
        </div>
      </dl>
    </div>

    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Inventory
      </h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        Information's about product inventory state
      </p>
    </div>
    <div formGroupName="inventory" class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Stock quantity
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <input formControlName="stockQuantity" type="number" class="bg-transparent rounded border-gray-300 border-2 w-full">
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Allow backorders?
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <input formControlName="allowBackorders" value="white" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
          </dd>
        </div>
      </dl>
    </div>

    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Shipping
      </h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        Information's about shipping
      </p>
    </div>
    <div formGroupName="shipping" class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Weight (kg)
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <input formControlName="weight" type="number" class="bg-transparent rounded border-gray-300 border-2 w-full">
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Shipping methods
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <input formControlName="shippingMethod" placeholder="InPost" type="text" class="bg-transparent rounded border-gray-300 border-2 w-full">
          </dd>
        </div>
      </dl>
    </div>

    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Variations
      </h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        Variations of product
      </p>
    </div>
    <div formGroupName="variations" class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Color
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <input formControlName="color" placeholder="Skyblue" type="text" class="bg-transparent rounded border-gray-300 border-2 w-full">
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Category
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <input formControlName="category" placeholder="Men" type="text" class="bg-transparent rounded border-gray-300 border-2 w-full">
          </dd>
        </div>
      </dl>
    </div>

    <div class="order-3 px-4 py-5 mr-auto flex-shrink-0 w-full sm:order-2 sm:mt-0 sm:w-auto sm:px-6">
      <button
        *ngIf="buttonIsShow"
        class="flex flex-col items-center justify-center w-36 mt-5 px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 w-full sm:w-36 sm:flex-row hover:bg-indigo-700 transition delay-200"
        type="submit">
        Add
      </button>
      <button
        *ngIf="buttonIsShow"
        class="flex items-center justify-center w-36 mt-5 px-4 py-2 border border-transparent rounded-md shadow-sm text-sm text-indigo-700 bg-indigo-100 hover:bg-indigo-200 w-full sm:w-36 transition delay-200"
      >
        Reset
      </button>
    </div>
  </form>
</div>
