<div class="sm:flex flex-wrap justify-center items-center text-center gap-8">
  <div
    class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 px-4 py-4 bg-white mt-6 shadow-lg rounded-lg dark:bg-gray-800"
  >
    <div class="flex-shrink-0">
      <div
        class="flex items-center mx-auto justify-center h-12 w-12 rounded-md bg-green-500 text-white"
      >
        <svg
          width="20"
          height="20"
          fill="currentColor"
          class="h-6 w-6"
          viewBox="0 0 1792 1792"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M491 1536l91-91-235-235-91 91v107h128v128h107zm523-928q0-22-22-22-10 0-17 7l-542 542q-7 7-7 17 0 22 22 22 10 0 17-7l542-542q7-7 7-17zm-54-192l416 416-832 832h-416v-416zm683 96q0 53-37 90l-166 166-416-416 166-165q36-38 90-38 53 0 91 38l235 234q37 39 37 91z"
          ></path>
        </svg>
      </div>
    </div>
    <h3 class="text-2xl sm:text-xl text-gray-700 font-semibold dark:text-white py-4">
      Website Design
    </h3>
    <p class="text-md text-gray-500 dark:text-gray-300 py-4">
      Encompassing today’s website design technology to integrated and build solutions relevant to
      your business.
    </p>
  </div>
  <div
    class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 px-4 py-4 mt-6 sm:mt-16 md:mt-20 lg:mt-24 bg-white shadow-lg rounded-lg dark:bg-gray-800"
  >
    <div class="flex-shrink-0">
      <div
        class="flex items-center mx-auto justify-center h-12 w-12 rounded-md bg-green-500 text-white"
      >
        <svg
          width="20"
          height="20"
          fill="currentColor"
          class="h-6 w-6"
          viewBox="0 0 1792 1792"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M491 1536l91-91-235-235-91 91v107h128v128h107zm523-928q0-22-22-22-10 0-17 7l-542 542q-7 7-7 17 0 22 22 22 10 0 17-7l542-542q7-7 7-17zm-54-192l416 416-832 832h-416v-416zm683 96q0 53-37 90l-166 166-416-416 166-165q36-38 90-38 53 0 91 38l235 234q37 39 37 91z"
          ></path>
        </svg>
      </div>
    </div>
    <h3 class="text-2xl sm:text-xl text-gray-700 font-semibold dark:text-white py-4">Branding</h3>
    <p class="text-md text-gray-500 dark:text-gray-300 py-4">
      Share relevant, engaging, and inspirational brand messages to create a connection with your
      audience.
    </p>
  </div>
  <div
    class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 mt-6 px-4 py-4 bg-white shadow-lg rounded-lg dark:bg-gray-800"
  >
    <div class="flex-shrink-0">
      <div
        class="flex items-center mx-auto justify-center h-12 w-12 rounded-md bg-green-500 text-white"
      >
        <svg
          width="20"
          height="20"
          fill="currentColor"
          class="h-6 w-6"
          viewBox="0 0 1792 1792"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M491 1536l91-91-235-235-91 91v107h128v128h107zm523-928q0-22-22-22-10 0-17 7l-542 542q-7 7-7 17 0 22 22 22 10 0 17-7l542-542q7-7 7-17zm-54-192l416 416-832 832h-416v-416zm683 96q0 53-37 90l-166 166-416-416 166-165q36-38 90-38 53 0 91 38l235 234q37 39 37 91z"
          ></path>
        </svg>
      </div>
    </div>
    <h3 class="text-2xl sm:text-xl text-gray-700 font-semibold dark:text-white py-4">
      SEO Marketing
    </h3>
    <p class="text-md text-gray-500 dark:text-gray-300 py-4">
      Let us help you level up your search engine game, explore our solutions for digital marketing
      for your business.
    </p>
  </div>
</div>

<div class="bg-white dark:bg-gray-800 overflow-hidden relative mt-7 shadow-lg rounded-lg">
  <div class="text-start w-1/2 py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20">
    <h2 class="text-3xl font-extrabold text-black dark:text-white sm:text-4xl">
      <span
        class="-m-3 p-3 flex items-start text-3xl font-extrabold text-black dark:text-white sm:text-4xl"
      >
        <!-- Heroicon name: outline/chart-bar -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-10 w-10 text-green-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
          />
        </svg>
        <div class="ml-4">
          <p class="text-gray-900">Solar panels</p>
        </div>
      </span>
      <span class="block text-sm text-green-500"> Highly efficient and durable panels. </span>
    </h2>
    <div class="lg:mt-0 lg:flex-shrink-0">
      <div class="mt-12 inline-flex rounded-md shadow">
        <button
          type="button"
          class="py-4 px-6 bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
        >
          Show
        </button>
      </div>
    </div>
  </div>
  <img
    src="https://media.istockphoto.com/photos/human-hand-touching-solar-panel-picture-id1331795324?b=1&k=20&m=1331795324&s=170667a&w=0&h=jQgOS7NWtiy8O7FgOX8zmJ089T6KAWSEw_RRUkdK_vQ="
    class="absolute h-full max-w-1/2 hidden lg:block right-0 top-0"
  />
</div>

<div class="bg-white dark:bg-gray-800 overflow-hidden relative mt-7 shadow-lg rounded-lg">
  <div class="text-start w-1/2 py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20">
    <h2 class="text-3xl font-extrabold text-black dark:text-white sm:text-4xl">
      <span
        class="-m-3 p-3 flex items-start text-3xl font-extrabold text-black dark:text-white sm:text-4xl"
      >
        <!-- Heroicon name: outline/chart-bar -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-10 w-10 text-green-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 7h6m0 10v-3m-3 3h.01M9 17h.01M9 14h.01M12 14h.01M15 11h.01M12 11h.01M9 11h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z"
          />
        </svg>
        <div class="ml-4">
          <p class="text-gray-900">Solar inverters</p>
        </div>
      </span>
      <span class="block text-sm text-green-500"> Highly efficient and durable panels. </span>
    </h2>
    <div class="lg:mt-0 lg:flex-shrink-0">
      <div class="mt-12 inline-flex rounded-md shadow">
        <button
          type="button"
          class="py-4 px-6 bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
        >
          Show
        </button>
      </div>
    </div>
  </div>
  <img
    src="https://media.istockphoto.com/photos/concept-of-a-home-energy-storage-system-based-on-a-lithium-ion-pack-picture-id1270012506?b=1&k=20&m=1270012506&s=170667a&w=0&h=g-hYLVCBPsUKygGRDHNX_RAvKySZPBiD_PNtJ_ao47Q="
    class="absolute h-full max-w-1/2 hidden lg:block right-0 top-0"
  />
</div>

<div class="bg-white dark:bg-gray-800 overflow-hidden relative mt-7 shadow-lg rounded-lg">
  <div class="text-start w-1/2 py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20">
    <h2 class="text-3xl font-extrabold text-black dark:text-white sm:text-4xl">
      <span
        class="-m-3 p-3 flex items-start text-3xl font-extrabold text-black dark:text-white sm:text-4xl"
      >
        <!-- Heroicon name: outline/chart-bar -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-10 w-10 text-green-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"
          />
        </svg>
        <div class="ml-4">
          <p class="text-gray-900">Solar batteries</p>
        </div>
      </span>
      <span class="block text-sm text-green-500"> Highly efficient and durable panels. </span>
    </h2>
    <div class="lg:mt-0 lg:flex-shrink-0">
      <div class="mt-12 inline-flex rounded-md shadow">
        <button
          type="button"
          class="py-4 px-6 bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
        >
          Show
        </button>
      </div>
    </div>
  </div>
  <img
    src="https://media.istockphoto.com/photos/modern-container-battery-green-energy-storage-system-accompanied-with-picture-id1302632855?b=1&k=20&m=1302632855&s=170667a&w=0&h=Lz_4WXXhwDAoqrajwbIY4VJaeGzipFk0bOmanYcZXZU="
    class="absolute h-full max-w-1/2 hidden lg:block right-0 top-0"
  />
</div>

<div class="bg-white dark:bg-gray-800 overflow-hidden relative mt-7 shadow-lg rounded-lg">
  <div class="text-start w-1/2 py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20">
    <h2 class="text-3xl font-extrabold text-black dark:text-white sm:text-4xl">
      <span
        class="-m-3 p-3 flex items-start text-3xl font-extrabold text-black dark:text-white sm:text-4xl"
      >
        <!-- Heroicon name: outline/chart-bar -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-10 w-10 text-green-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 10V3L4 14h7v7l9-11h-7z"
          />
        </svg>
        <div class="ml-4">
          <p class="text-gray-900">Electric car charger</p>
        </div>
      </span>
      <span class="block text-sm text-green-500"> Highly efficient and durable panels. </span>
    </h2>
    <div class="lg:mt-0 lg:flex-shrink-0">
      <div class="mt-12 inline-flex rounded-md shadow">
        <button
          type="button"
          class="py-4 px-6 bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
        >
          Show
        </button>
      </div>
    </div>
  </div>
  <img
    src="https://media.istockphoto.com/photos/electric-vehicle-charging-station-picture-id1310197667?b=1&k=20&m=1310197667&s=170667a&w=0&h=lffaOOjTf5eFADyHeRVVKHQo6PmhFVvAahFNAawcbRM="
    class="absolute h-full max-w-1/2 hidden lg:block right-0 top-0"
  />
</div>

<div class="bg-white dark:bg-gray-800 overflow-hidden relative mt-7 shadow-lg rounded-lg">
  <div class="text-start w-1/2 py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20">
    <h2 class="text-3xl font-extrabold text-black dark:text-white sm:text-4xl">
      <span
        class="-m-3 p-3 flex items-start text-3xl font-extrabold text-black dark:text-white sm:text-4xl"
      >
        <!-- Heroicon name: outline/chart-bar -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-10 w-10 text-green-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
          />
        </svg>
        <div class="ml-4">
          <p class="text-gray-900">Mounting system</p>
        </div>
      </span>
      <span class="block text-sm text-green-500"> Highly efficient and durable panels. </span>
    </h2>
    <div class="lg:mt-0 lg:flex-shrink-0">
      <div class="mt-12 inline-flex rounded-md shadow">
        <button
          type="button"
          class="py-4 px-6 bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
        >
          Show
        </button>
      </div>
    </div>
  </div>
  <img
    src="https://media.istockphoto.com/photos/the-solar-farm-alternative-electricity-source-this-is-the-solar-panel-picture-id1288966920?b=1&k=20&m=1288966920&s=170667a&w=0&h=9iF9xt9r4sf3NyMJwCvTYgrA5Jv0VaF9D7ExCFQ4fIE="
    class="absolute h-full max-w-1/2 hidden lg:block right-0 top-0"
  />
</div>

<div class="bg-white dark:bg-gray-800 overflow-hidden relative mt-7 shadow-lg rounded-lg mb-10">
  <div class="text-start w-1/2 py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20">
    <h2 class="text-3xl font-extrabold text-black dark:text-white sm:text-4xl">
      <span
        class="-m-3 p-3 flex items-start text-3xl font-extrabold text-black dark:text-white sm:text-4xl"
      >
        <!-- Heroicon name: outline/chart-bar -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-10 w-10 text-green-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z"
          />
        </svg>
        <div class="ml-4">
          <p class="text-gray-900">Accessories</p>
        </div>
      </span>
      <span class="block text-sm text-green-500"> Highly efficient and durable panels. </span>
    </h2>
    <div class="lg:mt-0 lg:flex-shrink-0">
      <div class="mt-12 inline-flex rounded-md shadow">
        <button
          type="button"
          class="py-4 px-6 bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
        >
          Show
        </button>
      </div>
    </div>
  </div>
  <img
    src="https://media.istockphoto.com/photos/unidentified-man-attaching-solar-panel-to-the-roof-rack-picture-id1330677104?b=1&k=20&m=1330677104&s=170667a&w=0&h=bd-97Mmn7Zb-52fhlOxHJxVBpMvwRByRsSkVSo5LYTo="
    class="absolute h-full max-w-1/2 hidden lg:block right-0 top-0"
  />
</div>
