<div class="mt-5 divide-y divide-gray-200">
  <div class="space-y-1">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Login Data
    </h3>
    <p class="max-w-2xl text-sm text-gray-500">
      This data is needed to log in. Do not show them to anyone.
    </p>
  </div>
  <div class="mt-6">
    <dl class="divide-y divide-gray-200">
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
        <dt class="text-sm font-medium text-gray-500">
          Password
        </dt>
        <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <input class="flex-grow bg-transparent" disabled value='********'>
          <span class="ml-4 flex-shrink-0">
                          <button type="button" class="bg-white rounded-md font-medium text-green-600 hover:text-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                            Update
                          </button>
                        </span>
        </dd>
      </div>
      <div class='divide-y divide-gray-200'>
      </div>
    </dl>
  </div>
  <div class="py-3 text-right">
    <button class="bg-gray-800 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900">
      Have you forgotten your password?
    </button>
  </div>
</div>
