<div class='w-fit shadow-lg rounded-2xl p-4 bg-white dark:bg-gray-800'>
  <div class='flex items-center'>
        <span class='rounded-xl relative p-2 bg-green-200'>
            <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 text-green-600' fill='none' viewBox='0 0 24 24'
                 stroke='currentColor'>
              <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                    d='M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4' />
            </svg>
        </span>
    <p class='text-md text-black dark:text-white ml-2'>
      Quantity
    </p>
  </div>
  <div class='flex flex-col justify-start'>
    <p class='text-gray-700 dark:text-gray-100 text-4xl text-left font-bold mt-4'>
      {{ quantity }}
    </p>
  </div>
</div>
